{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": "last 1 chrome version"
          },
          "useBuiltIns": "entry",
          "loose": true,
          "shippedProposals": true
        }]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-spread",
        "@babel/plugin-proposal-object-rest-spread"
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": "defaults, ie 11"
          },
          "useBuiltIns": "entry"
        }]
      ]
    }
  }
}
