<div class="progress-pulse {{class}}">
  <div class="overlay"></div>
  <div class="animation">
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
  </div>
</div>
