<li>
  <a href="#">
    <div>
      <span class="item-name">{{name}}</span>
      <span class="item-note"></span>
    </div>
    <div class="sub-text item-description">{{description}}</div>
  </a>
</li>
