<a href="#">
  <div>
    <span class="item-name">{{name}}</span>
    {{#if note}}
      <span class="item-note">{{note}}</span>
    {{/if}}
  </div>
  {{#if description}}
    <div class="sub-text item-description">{{description}}</div>
  {{/if}}
</a>
