{{> pagination pageInfo}}
<table class="table">
  <thead>
    <tr class="headings">
      <th><span>Attribute</span></th>
      <th><span>Attribute</span></th>
      <th><span>Attribute</span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="loading"><td colspan="3">Loading...</td></tr>
    <tr class="empty"><td colspan="3">Empty</td></tr>
    <tr class="service-error"><td colspan="3">Error</td></tr>
  </tbody>
</table>
