<div class="modal-dialog" role="document">
  <div class="modal-content">
    <p>I am a modal</p>
    <input autofocus class="test-focus" />
  </div>
  <div class="modal-footer">
    <button class="submit-button" />
  </div
</div>
