<div class="modal-dialog">
  {{#> progress-dialog/modal-content current='default'}}
    {{> progress-dialog/header default}}
    <div class="modal-body">
      {{> progress-dialog/body-content default}}
    </div>
    {{> progress-dialog/footer default}}
    {{> progress-pulse class="loading fade"}}
  {{/progress-dialog/modal-content}}

  {{#> progress-dialog/modal-content current='progress'}}
    {{> progress-dialog/header progress}}
    <div class="modal-body">
      {{> progress-dialog/body-content progress}}
      {{> progress-pulse}}
    </div>
    {{> progress-dialog/footer progress}}
  {{/progress-dialog/modal-content}}

  {{#> progress-dialog/modal-content current='error'}}
    {{> progress-dialog/header error}}
    <div class="modal-body">
      {{> progress-dialog/body-content error}}
    </div>
    {{> progress-dialog/footer error}}
  {{/progress-dialog/modal-content}}

  {{#> progress-dialog/modal-content current='success'}}
    {{> progress-dialog/header success}}
    <div class="modal-body">
      {{> progress-dialog/body-content success}}
    </div>
    {{> progress-dialog/footer success}}
  {{/progress-dialog/modal-content}}
</div>
