<div class="modal-footer">
  {{#each buttons}}
    <button type="button" class="btn {{className}}"
        {{#unless click.prototype}}data-dismiss="modal"{{/unless}}>
      {{~text~}}
    </button>
  {{/each}}
</div>
